.categoryForm {
  display: flex;
  flex-direction: column;
  > p {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0rem;
  }
  button {
    margin: 2rem 0rem;
    align-self: center;
    width: 70%;
    padding: 0.5rem 1.5rem;
    color: var(--white-color);
    cursor: pointer;
    opacity: 0.9;
    background: linear-gradient(
      to bottom right,
      var(--orange-color),
      rgba(var(--orange-color), 0.8)
    );
    background-color: var(--orange-color);
    border: none;
    outline: none;
    border-radius: 1rem;
    &:hover {
      opacity: 1;
    }
  }
}
