.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--darkGray-color);
  > p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
