.btn {
  background-color: transparent;
  border: 1px solid;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.4rem 1rem;
  border-radius: 1px;
  min-width: 15rem;
  border-radius: 5px;
}
